{% set controller = salt['pillar.get']('topology:nodes:controller') %}
AuthType=auth/munge
DbdHost={{ controller['hostname'] }}
DbdAddr={{ controller['ip'] }}
DbdPort={{ salt['pillar.get']('infrastructure:common:cluster:slurmdbd_port') }}
SlurmUser={{ salt['pillar.get']('infrastructure:common:cluster:slurm_user') }}
StorageType=accounting_storage/mysql
StorageHost={{ salt['pillar.get']('infrastructure:controller:database:host') }}
StoragePort={{ salt['pillar.get']('infrastructure:controller:database:port') }}
StorageUser={{ salt['pillar.get']('infrastructure:controller:database:username') }}
StoragePass={{ salt['pillar.get']('infrastructure:controller:database:password') }}
StorageLoc={{ salt['pillar.get']('infrastructure:controller:database:name') }}
LogFile={{ salt['pillar.get']('infrastructure:common:cluster:slurmdbd_log') }}
PidFile=/run/slurmdbd.pid
